<div class="content">
  <div itemprop="name" class="queried-for">
    <h4 title="men casual shirts" class="q">Mostrando productos disponibles</h4>
    <span>&nbsp;</span>
  </div>

  <div class="options">
    <ul class="img-size">
      <label>Ver:</label>
      <li (click)="toggleView('COMPACT')" [ngClass]="{'big': true, 'selected': isBigSelected()}"></li>
      <li (click)="toggleView('COZY')" [ngClass]="{'small': true, 'selected': isSmallSelected()}"></li>
    </ul>
    <ul class="sort">
      <label>Ordenar:</label>
      <li data-sortkey=":popularity">Popular</li>
      <li data-sortkey=":new">Nuevo</li>
      <li data-sortkey=":discount">Descuentos</li>
      <label>Precio: 
        <li data-sortkey=":low">Bajo</li>
        <li data-sortkey=":high">ALto</li>
      </label>
    </ul>
  </div>
</div>